@import "./defaults/sizing";
@import "./defaults/resets";
@import "./defaults/fonts";
@import "./grid-container";
@import "./components/header";
@import "./components/nav";
@import "./components/content";
@import "./components/sidebar";
@import "./components/footer";
@import "./tree-nav";

.flex {
  display: flex;
}

.center-all {
  align-items: center;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.border {
  border: 1px solid black;
}
